.sitemap {
	background: $yellow;
	padding: 20px 0;

	& ul {
	list-style: none;
	padding-top: 20px;
	}

	& img {
		padding-top: 25px;
	}
}

.social {
	margin-top: 50px;
}

footer {
	height: 200px;
	padding: 10px;
	background: black;
	text-align: center;
	overflow: auto;
}