.home-hero {
  background-image: url(images/home-header.jpg);
  background-repeat: no-repeat;
}

.wanderlust-hero {
  height: 600px;
  background-image: url(images/wanderlust.jpg);
  background-repeat: no-repeat;
}

.about-hero {
  height: 600px;
  background-image: url(images/about.jpg);
  background-repeat: no-repeat;
}

.contact-hero {
  height: 600px;
  background-image: url(images/contact.jpg);
  background-repeat: no-repeat;
}