* {
  box-sizing: border-box;
}

/* This technique doesn't naturally cause horizontal overflow, but once there is natural vertical overflow, it causes horizontal overflow, so stopping here. */

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

main {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

p, figure {
  margin: 15px 0;
}
figcaption {
  text-align: center;
  color: #999;
}

main a {
	border-bottom: solid 2px hsl(0, 100%, 50%);
	color: black;
}

main a:hover {
	color: black;
}

.author-portrait {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid hsl(0, 0%, 100%);
	margin: 100px auto 30px auto;
}

.author-portrait img {
	width: 100%;
	height: auto;
}

.bio-position {
	padding-bottom: 15px;
}

small {
	display: block;
}

.hover {
	position: relative;
	z-index: 3;
}

.disqus-position {
	padding: 40px 0;
}

.next-previous {
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	display: inline-block;
}

.next-previous:hover > .shade {
	position: absolute;
	top: 0;
	width:100%;
	height:100%;
	left: 0;
	background-color:#000;
	opacity:0.3;
	z-index: 2;
	display: block;
}

.empty-post {
	background-image:url(../images/empty.jpg);
}

.recipes-poster {
	background-image: url(../images/recipes.jpg);
}
