/* Typography
===================== */

@import 'https://fonts.googleapis.com/css?family=Hind|Raleway:300,300i,400,500i,700,900';
@import 'https://fonts.googleapis.com/css?family=Permanent+Marker';

$raleway: "Raleway", "Arial";
$copy: "Hind", "Arial";
$headline: "Permanent Marker, cursive";


/* Typography: Nav  */

.nav {
	font-family: $raleway;
	font-weight: 300;
	color: $white;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 3px;

	a {
		color: $white;
	}

	a:hover {
		color: $white;
		font-weight: bold;
	}
}

/*  Global  */

.header-title {
	font-family: $raleway;
	font-weight: 900;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	color: $yellow;

	@media only screen and (max-width: 40em) {
			font-size: 32px;
		}
}


.page-title {
	font-family: $raleway;
	font-weight: 900;
	font-size: 72px;
	text-transform: uppercase;
	text-align: center;
	color: $yellow;

	@media only screen and (max-width: 40em) {
			font-size: 32px;
		}

	@media only screen and (min-width: 40.063em) and (max-width: 64em) {
			font-size: 52px;
		}
}

.categories {
	font-family: $raleway;
	font-weight: 900;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
// 	text-align: center;
	color: $white;
	display: block;
/*
	background-color: hsl(0, 0%, 0%);
    padding: 5px;
    max-width: 110px;
*/
}


.black-btn {
	font-family: $raleway;
	font-weight: 900;
	font-size: 24px;
	width: 200px;
	text-transform: uppercase;
	text-align: center;
	color: $off-black;
	border: 3px black solid;

	a {
		color: $off-black;
	}

	a:hover {
		color: $off-black;
	}
}

.author-bio {
	font-family: $copy;
	font-weight: 400;
	font-size: 18px;
	color:$white;

	a {
		 color: $blue;
	}

	 a:hover {
		 color: $blue;
	}
}

.author-page-bio {
	font-family: $copy;
	font-weight: 400;
	font-size: 18px;
	color:$white;
	text-align: center;
}

.bio-page {
	text-align: center;
	color:$white;
}


/* Article Post  */

.thumb-title {
// 	font-family: $raleway;
	font-family: $headline;
	font-weight: 900;
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;
	color: $yellow;
}

.post-title {
	font-family: $raleway;
	font-weight: 900;
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
	color: $yellow;
}

.post-details {
	font-family: $raleway;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	color: $yellow;
}

.post {
	p {
		font-family: $copy;
		font-weight: 400;
		font-size: 19px;
		line-height: 1.8;
		margin-bottom: 1.4em;
		color:$off-black;
	}
}

.next {
	font-family: $raleway;
	font-weight: 300;
	font-style: italic;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 24px;
	margin: 40px;
	color: $white;
	text-align: right;

	@media only screen and (max-width: 40em) {
			line-height: 32px;
		}

	@media only screen and (min-width: 40.063em) and (max-width: 64em) {
			line-height: 52px;
		}
}

.previous {
	font-family: $raleway;
	font-weight: 300;
	font-style: italic;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 24px;
	margin: 40px;
	color: $white;
	text-align: left;

	@media only screen and (max-width: 40em) {
			line-height: 32px;
		}

	@media only screen and (min-width: 40.063em) and (max-width: 64em) {
			line-height: 52px;
		}
}

.next-router-title {
	font-family: $raleway;
	font-weight: 900;
	font-size: 40px;
	line-height: 24px;
	margin-right: 40px;
	color: $yellow;
	text-align: right;
}

.previous-router-title {
	font-family: $raleway;
	font-weight: 900;
	font-size: 40px;
	line-height: 24px;
	margin-left: 40px;
	color: $yellow;
	text-align: left;
}

/* Travel page  */

.page-intro {
	font-family: $raleway;
	font-weight: 900;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: $white;
	text-align: center;

	@media only screen and (max-width: 40em) {
			font-size: 20px;
		}
}

.white-btn {
	font-family: $raleway;
	font-weight: 900;
	font-size: 24px;
	text-transform: uppercase;
	color: $white;
	border: 3px white solid;
	text-align: center;
	margin-top: 25px;
	width: 200px;

	a {
		color: $white;
	}

	a:hover {
		color: $white;
	}
}

.travel-poster a {
	color: $white;
}

.travel-poster a:hover {
	color: $white;
}

.travel-title {
	font-family: $raleway;
	font-weight: 900;
	font-size: 32px;
	text-transform: uppercase;
// 	text-align: center;
	color: $yellow;
}


/* Footer  */

.sitemap-copy {
	font-family: $raleway;
	font-size: 24px;
	font-weight: 500;
	font-style: italic;
	line-height: 24px;
	color:$off-black;

	a {
		color: $off-black;
	}

	a:hover {
		color: $off-black;
	}
}

.copyright {
	font-family: $raleway;
	font-weight: 400;
	font-size: 14px;
	color: $white;
	text-align: center;
	text-transform: uppercase;
}
